* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #b993d6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8ca6db,
    #b993d6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8ca6db,
    #b993d6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.profile-box {
  background: #ff574a;
  text-align: center;
  padding: 40px 90px;
  border-radius: 20px;
  color: #fff;
  position: relative;
}
.setting-icon {
  width: 25px;
  position: absolute;
  top: 10%;
  right: 10%;
}
.menu-icon {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 25px;
}
.profile-pic {
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 6px;
  margin-top: 10%;
}
.profile-bottom {
  background: #fff;
  color: #999;
  padding: 50px 0;
  margin-right: -90px;
  margin-top: -10px;
  margin-left: -90px;
  margin-bottom: -40px;
  border-radius: 20px;
}
.profile-box button {
  background: #fff;
  color: #ff574a;
  border: none;
  outline: none;
  box-shadow: 0 15px 10px rgba(244, 67, 54, 0.5);
  padding: 15px 60px;
  border-radius: 30px;
  margin-bottom: -50px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.profile-box h3 {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}
.social-media {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.social-item {
  font-size: 20px;
  margin: 0 10px;
}
.social-item a i {
  color: #fff;
}
@media (max-width: 767px) {
  .profile-box {
    padding: 5px 20px;
    border-radius: 10px;
  }
  .profile-box h3 {
    font-size: 16px;
  }
  .profile-box p{
    font-size: 10px;
  }
  .profile-pic {
    width: 90px;
    margin-top: 60px;
    padding: 4px;
  }
  .profile-box button {
    padding: 4px 32px;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 5px 5px rgba(244, 67, 54, 0.5);
  }
  .profile-bottom{
    background: #fff;
    color: #999;
    padding: 10px 0;
    margin-right: -20px;
    margin-top: -10px;
    margin-left: -20px;
    margin-bottom: -20px;
    border-radius: 10px;
  }
  .profile-bottom p{
    margin-top: 10px;
  }
  .profile-bottom img{
    width: 10px;
  }
}
